<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Soichiro SANO">
    <title>従業員情報リスト | ScottAdmin Sample</title>
    <link rel="stylesheet" href="/ph35/scottadminkan/public/css/main.css" type="text/css">
</head>
<body>
    <header>
        <h1>部門情報リスト</h1>
        <p><a href="/ph35/scottadminkan/public/logout.php">ログアウト</a></p>
    </header>
    <nav id="breadcrumbs">
        <ul>
            <li><a href="/ph35/scottadminkan/public/">TOP</a></li>
            <li>従業員情報リスト</li>
        </ul>
    </nav>
    {% if flashMsg %}
    <section id="flashMsg">
        <p>
            {{flashMsg}}
        </p>
    </section>
    {% endif %}
    <section>
        <p>
            新規登録は<a href="/ph35/scottadminkan/public/emp/goEmpAdd.php">こちら</a>から
        </p>
    </section>
    <section>
        <table>
            <thead>
                <tr>
                    <th>従業員ID</th>
                    <th>従業員番号</th>
                    <th>従業員名</th>
                    <th>役職</th>
                    <th>上司番号</th>
                    <th>雇用日</th>
                    <th>給与</th>
                    <th>所属部門ID</th>
                    <th colspan="2">操作</th>
                </tr>
            </thead>
            <tbody>
                {% for emp in empList %}
                <tr>
                    <td>{{emp.getId}}</td>
                    <td>{{emp.getEmNo}}</td>
                    <td>{{emp.getEmName}}</td>
                    <td>{{emp.getEmJob}}</td>
                    <td>{{emp.getEmMgr}}</td>
                    <td>{{emp.getEmHiredate}}</td>
                    <td>{{emp.getEmSal}}</td>
                    <td>{{emp.getDeptId}}</td>
                    <td>
                        <form action="/ph35/scottadminkan/public/emp/prepareEmpEdit.php" method="post"><input type="hidden" id="editEmpId{{emp.getId}}" name="editEmpId" value="{{emp.getId}}"><button type="submit">編集</button></form>
                    </td>
                    <td>
                        <form action="/ph35/scottadminkan/public/emp/confirmEmpDelete.php" method="post"><input type="hidden" id="deleteEmpId{{emp.getId}}" name="deleteEmpId" value="{{emp.getId}}"><button type="submit">削除</button></form>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="10">該当部門は存在しません。</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</body>
</html>